In [1]:
import pandas as pd

df = pd.read_csv('../data/full/ratings_edited.csv')
df

          userId  movieId  rating   timestamp  movie_idx
0              0      307     3.5  1256677221        307
1              0      481     3.5  1256677456        481
2              0     1091     1.5  1256677471       1091
3              0     1257     4.5  1256677460       1257
4              0     1449     4.5  1256677264       1449
...          ...      ...     ...         ...        ...
27753439  283227     8542     4.5  1379882795       8351
27753440  283227     8712     4.5  1379882751       8513
27753441  283227    34405     4.5  1379882889      22224
27753442  283227    44761     4.5  1354159524      27965
27753443  283227    54286     4.5  1354159718      33151

[27753444 rows x 5 columns]

In [14]:
import requests

def put(movie):
    filtered = df[df.movie_idx == movie]
    total = filtered.rating.sum()
    count = len(filtered)
    j = {'rating_count': count, 'rating_total': total, 'rating_avg': total/count }
    requests.put(f'http://localhost:3001/movies/{movie}', json=j)

movies = set(df.movie_idx.values)
for movie in movies:
    put(movie)

In [34]:
step = 50000000
df.timestamp.max()/step, df.timestamp.min()/step

(30.75890298, 15.79304008)

In [20]:
filtered = df[df.movie_idx == 318]

In [24]:
(filtered.rating - 3).sum()

139569.0

In [33]:
import math

math.log((filtered.rating - 3).sum()),

11.846314381613514

In [35]:
def score(movie):
    ratings = df[df.movie_idx == movie]
    math.log()

111         1113766505
782         1209040104
873          832039632
951          948882545
1121        1442169454
               ...
27752431    1444495761
27752746    1467479774
27752829     842480507
27752848    1168346976
27752992     850997727
Name: timestamp, Length: 97999, dtype: int64

In [47]:
(filtered.rating - 3) * filtered.timestamp

111         2.227533e+09
782         2.418080e+09
873         8.320396e+08
951         9.488825e+08
1121        2.163254e+09
                ...
27752431    1.444496e+09
27752746   -7.337399e+08
27752829    8.424805e+08
27752848    1.752520e+09
27752992    8.509977e+08
Length: 97999, dtype: float64

In [49]:
import time

time.time(), df.timestamp.max()

(1670645211.98769, 1537945149)

In [166]:
now = time.time()
def trend_score(movie):
    filtered = df[df.movie_idx == movie]
    avg_time = ((now - filtered.timestamp).sum()/len(filtered))/(1000*60*60*24)
    votes = (filtered.rating - 2.5).sum()
    return (votes ** 0.2)/(avg_time ** 2) 

trend_score(318), trend_score(1), trend_score(3111), trend_score(39882), trend_score(0)

(0.3780630552997836,
 0.2509764873849556,
 0.26935395806132756,
 0.8700187284889137,
 0.0)

In [167]:
trend_score(37299)

0.5065355156641794

473452981.4402671